 body {
            background-color:#FFF;
            font:15px Sans-Serif;
        }
		ul {
            position:relative;
            margin:0;
            padding:0;
        }
		#menu {
		    height:60%;
            width:100%;
          
			
            font-weight:bold;
            cursor:pointer;
            
            border-radius:5px;
			
			background: linear-gradient(-45deg, #ee7752, #e73c7e, #23a6d5, #23d5ab);
			background-size: 400% 400%;
			animation: gradient 15s ease infinite;
        }
		@keyframes gradient {
	0% {
		background-position: 0% 50%;
	}
	50% {
		background-position: 100% 50%;
	}
	100% {
		background-position: 0% 50%;
	}
}
		#menu ul {
            display:table;
            line-height:10px;
			float:right;
			
        }
		 #menu ul li {
            position:relative;
            display:inline;
        }
		#menu ul li a {
            float:left;
            position:relative;
            padding:10px;
            color:#FFF;
            text-decoration:none;
        }
		 #menu ul li a:hover {
            background:#000;
        }
		#menu ul ul {
            position:absolute;
            width:210px;
            top:50px;
            left:-370px;       
            transform:translateX(232px);     
            
            
            
            background:transparent;
           
            
        }
		#menu ul ul li {
            text-align:left; 
            margin:0;
        }
		#menu ul ul li a {
            height:0; 
            line-height:0; 
            width:200px; 
            color:#FFF;
            padding:0 20px;
            -moz-opacity: 0;
            opacity:0;
            filter: alpha(opacity=0);
        }
		#menu ul ul ul {
            visibility:hidden;
            position:absolute;
            top:175px;
        }
		 
		 #categories:hover ul li a {
            height:40px;
            line-height:40px;
            -moz-opacity: 1;
            opacity:1;
            filter: alpha(opacity=100);
        }
	h1
	{
			
		
			margin-left:500px;
		
	}